# Python cache files
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/

# Legacy Code
legacy/

# Environment variables
.env

# SQLite database
database.db

# Logs
*.log

# IDE-specific files
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db

# Node.js (if applicable for frontend)
node_modules/
dist/
